#contato .localizacao {
  margin-bottom: 0px;
}

.contato {
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: end;
}

.contato-conteudo {
  display: grid;
  justify-items: start;
}

.contato-conteudo h1 {
  grid-column: 1 / -1;
  max-width: 20ch;
  margin-bottom: var(--espaco-s);
}

.contato-conteudo .botao-primario {
  margin-bottom: var(--espaco-xxs);
}

.contato-conteudo img {
  display: inline-block;
  margin-right: var(--espaco-xxs);
}

.contato-conteudo a,
.contato-conteudo span {
  margin-bottom: var(--espaco-s);
}

.contato-conteudo a[href="mailto:contato@lucanstudio.com.br"] {
  position: relative;
  transition: color 0.3s;
}

.contato>img {
  height: 560px;
}

.contato-conteudo a[href="mailto:contato@lucanstudio.com.br"]:hover {
  color: var(--cor-preto);
}

.contato-conteudo a[href="mailto:contato@lucanstudio.com.br"]::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: var(--cor-preto);
  bottom: 0px;
  left: 0;
  transition: width 0.3s, color 0.3s;
}

.contato-conteudo a[href="mailto:contato@lucanstudio.com.br"]:hover::after {
  width: 100%;
}


@media (max-width: 600px) {
  .contato {
    grid-template-columns: 1fr;
    justify-items: start;
  }

  .contato-conteudo h1 {
    margin-bottom: var(--espaco-xs);
  }

  .contato img {
    width: 100%;
    height: auto;
  }
}