.sobre {
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  align-items: center;
}

.sobre img {
  height: 560px;
  width: 100%;
  object-position: bottom;
}

.sobre h2 {
  max-width: 20ch;
  margin-bottom: var(--espaco-s);
}

.sobre p {
  margin-bottom: var(--espaco-ms);
}

@media (max-width: 800px) {

  .sobre {
    grid-template-columns: 1fr;
  }

  .sobre img {
    height: 280px;
    grid-row: 2;
  }
}