.js [data-animar] {
  opacity: 0;
  transition: opacity 0.6s, transform 0.6s;
}

.js [data-animar="cima"] {
  transform: translateY(-80px);
}

.js [data-animar="esquerda"] {
  transform: translateX(-80px);
}

.js .animar {
  opacity: 1;
  transform: none;
}