.cor-branco {
  color: var(--cor-branco);
}

.cor-cinza-1 {
  color: var(--cor-cinza-1);
}

.cor-cinza-2 {
  color: var(--cor-cinza-2);
}

.cor-cinza-3 {
  color: var(--cor-cinza-3);
}

.cor-cinza-4 {
  color: var(--cor-cinza-4);
}

.cor-cinza-5 {
  color: var(--cor-cinza-5);
}

.cor-preto {
  color: var(--cor-preto);
}

.cor-primaria-1 {
  color: var(--cor-primaria-1);
}