.conteiner {
  display: grid;
  max-width: 1200px;
  gap: var(--espaco-l);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--espaco-xxxl);
  padding-left: var(--espaco-s);
  padding-right: var(--espaco-s);
}

.titulo {
  font: 2.5rem/1.2 "Forum", serif;
  color: var(--cor-cinza-5);
  text-align: center;
  margin-bottom: 80px;
}

.botao-primario,
.botao-secundario {
  letter-spacing: 0.02em;
  text-transform: uppercase;
  max-width: max-content;
  background: none;
  border: 1px solid currentColor;
  border-radius: 0px;
  cursor: pointer;
  transition: transform 0.3s;
}

.botao-primario {
  font: 1.25rem/1.5 "Roboto", sans-serif;
  color: var(--cor-primaria-1);
  padding: var(--espaco-xxs) var(--espaco-xs);
}

.botao-secundario {
  font: 0.875rem/1.15 "Roboto", sans-serif;
  color: var(--cor-cinza-5);
  padding: var(--espaco-xxxs) var(--espaco-xxs);
}

.botao-primario:hover,
.botao-secundario:hover {
  transform: scale(110%);
}

.sombra-1 {
  box-shadow: 0px 1px var(--espaco-s) rgba(0, 0, 0, 0.10);
}

@media (max-width: 1000px) {
  .conteiner {
    gap: var(--espaco-ms);
  }

  .botao-primario {
    font-size: 1rem;
    padding: var(--espaco-xxxs) var(--espaco-xs);
  }
}

@media (max-width: 600px) {
  .conteiner {
    margin-bottom: var(--espaco-xxl);
  }
}