.agendar {
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: end;
}

.agendar-conteudo {
  display: grid;
  justify-items: start;
}

.agendar-conteudo h1 {
  max-width: 20ch;
  margin-bottom: var(--espaco-s);
}

.agendar-conteudo a {
  margin-bottom: var(--espaco-xxs);
}

.agendar img {
  height: 560px;
  width: 100%;
  object-position: left;
}

@media (max-width: 800px) {

  .agendar img {
    height: 360px;
  }
}

@media (max-width: 600px) {
  .agendar {
    grid-template-columns: 1fr;
    justify-items: start;
  }

  .agendar-conteudo h1 {
    margin-bottom: var(--espaco-xs);
  }
}