.galerias-home {
  position: relative;
  margin-bottom: var(--espaco-xxxl);
}

.galerias-home h2 {
  text-align: center;
  margin-bottom: var(--espaco-xl);
}

.galerias-slides-conteiner {
  position: relative;
  max-width: 1160px;
  overflow-x: hidden;
  margin: 0 auto;
}

.galerias-slides {
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.galerias-slides img {
  min-width: 100%;
  height: 680px;
  transition: opacity 0.6s ease-in-out;
}

.galerias-home a,
.galerias-home button {
  position: absolute;
}

.galerias-home button {
  top: 50%;
  transform: translateY(-50%);
  background: var(--cor-branco);
  padding: var(--espaco-xxs);
  border-radius: 50%;
  z-index: 1;
  transition: background 0.3s;
}

.galerias-home button:hover {
  background: var(--cor-cinza-1);
}

#botao-voltar {
  left: var(--espaco-xs);
}

#botao-avancar {
  right: var(--espaco-xs);
}

.galerias-home a {
  display: none;
  background: var(--cor-branco);
  bottom: var(--espaco-s);
  left: 50%;
  transform: translateX(-50%);
}

.galerias-home a.ativo {
  display: block;
}

.galerias-home .botao-primario:hover {
  transform: scale(110%) translateX(-45%);
}