.qualidade {
  gap: 0px;
}

.qualidade h2 {
  text-align: center;
  margin-bottom: var(--espaco-xl);
}

.qualidade ul {
  display: flex;
  flex-wrap: wrap;
  gap: var(--espaco-ml);
}

.qualidade ul li {
  flex: 1;
}

.qualidade ul img {
  width: 100%;
  height: 560px;
  margin-bottom: var(--espaco-xs);
}

.qualidade ul h3 {
  margin-bottom: var(--espaco-xs);
}

@media (max-width: 1000px) {
  .qualidade ul img {
    height: 280px;
  }
}

@media (max-width: 800px) {
  .qualidade ul {
    flex-direction: column;
  }
}